<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_dc46ea2b80914a3fbf5bb9203a7dcdf4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_dc46ea2b80914a3fbf5bb9203a7dcdf4" ></div>
        
</body>
<script>    
    
            var map_dc46ea2b80914a3fbf5bb9203a7dcdf4 = L.map(
                "map_dc46ea2b80914a3fbf5bb9203a7dcdf4",
                {
                    center: [10.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f1beb98a0ece44749b061e99e35ee74c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
            var marker_ac9e586c3e6e421187a5b1934d160135 = L.marker(
                [59.439809, 24.7841382],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_4c92eaf3038d4036a442115df125709b = L.popup({"maxWidth": "100%"});

        
            var html_da42c9ce1da043eb9a9b04b1184811da = $(`<div id="html_da42c9ce1da043eb9a9b04b1184811da" style="width: 100.0%; height: 100.0%;">ShadowMastersHQ</div>`)[0];
            popup_4c92eaf3038d4036a442115df125709b.setContent(html_da42c9ce1da043eb9a9b04b1184811da);
        

        marker_ac9e586c3e6e421187a5b1934d160135.bindPopup(popup_4c92eaf3038d4036a442115df125709b)
        ;

        
    
    
            var marker_428e1b174a51430e8f1e008b9933b5e9 = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_b69eecd0c4fb4d59bef68ce1b7ca24da = L.popup({"maxWidth": "100%"});

        
            var html_11ec224062af42cda3db0b98a41a825b = $(`<div id="html_11ec224062af42cda3db0b98a41a825b" style="width: 100.0%; height: 100.0%;">razmyshlist</div>`)[0];
            popup_b69eecd0c4fb4d59bef68ce1b7ca24da.setContent(html_11ec224062af42cda3db0b98a41a825b);
        

        marker_428e1b174a51430e8f1e008b9933b5e9.bindPopup(popup_b69eecd0c4fb4d59bef68ce1b7ca24da)
        ;

        
    
    
            var marker_8466ca5365864be394f4cec6f465443b = L.marker(
                [50.4500336, 30.5241361],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_f6ee8b46d12f4559bd54bd4319615bbc = L.popup({"maxWidth": "100%"});

        
            var html_cfee5b2cff434f6189188dd536317fdf = $(`<div id="html_cfee5b2cff434f6189188dd536317fdf" style="width: 100.0%; height: 100.0%;">martynenko__v</div>`)[0];
            popup_f6ee8b46d12f4559bd54bd4319615bbc.setContent(html_cfee5b2cff434f6189188dd536317fdf);
        

        marker_8466ca5365864be394f4cec6f465443b.bindPopup(popup_f6ee8b46d12f4559bd54bd4319615bbc)
        ;

        
    
    
            var marker_468931aad38b4d9db68dd2c4476a2c39 = L.marker(
                [34.0536909, -118.2427666],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_0359989837954e17a6e7414c067dfc7b = L.popup({"maxWidth": "100%"});

        
            var html_29aac3ccb9b74fa8b2ca87347f1e3ca5 = $(`<div id="html_29aac3ccb9b74fa8b2ca87347f1e3ca5" style="width: 100.0%; height: 100.0%;">h3h3productions</div>`)[0];
            popup_0359989837954e17a6e7414c067dfc7b.setContent(html_29aac3ccb9b74fa8b2ca87347f1e3ca5);
        

        marker_468931aad38b4d9db68dd2c4476a2c39.bindPopup(popup_0359989837954e17a6e7414c067dfc7b)
        ;

        
    
    
            var marker_0f77e0ea34b9425aa9bd5f800eb6d557 = L.marker(
                [25.7742658, -80.1936589],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_47ddda4b2d0640f082b6ad6619422429 = L.popup({"maxWidth": "100%"});

        
            var html_5446e670328541728c1b6938597ced81 = $(`<div id="html_5446e670328541728c1b6938597ced81" style="width: 100.0%; height: 100.0%;">ORIGINPC</div>`)[0];
            popup_47ddda4b2d0640f082b6ad6619422429.setContent(html_5446e670328541728c1b6938597ced81);
        

        marker_0f77e0ea34b9425aa9bd5f800eb6d557.bindPopup(popup_47ddda4b2d0640f082b6ad6619422429)
        ;

        
    
    
            var marker_55e2bac0806145c086e5c1265031cc8d = L.marker(
                [51.79669945, 0.5793370437222831],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_a91c68fbcc65497094baf302fae4b4d0 = L.popup({"maxWidth": "100%"});

        
            var html_ea3a9a0ece70423b9679cf5d7bea2ff2 = $(`<div id="html_ea3a9a0ece70423b9679cf5d7bea2ff2" style="width: 100.0%; height: 100.0%;">NBThieves</div>`)[0];
            popup_a91c68fbcc65497094baf302fae4b4d0.setContent(html_ea3a9a0ece70423b9679cf5d7bea2ff2);
        

        marker_55e2bac0806145c086e5c1265031cc8d.bindPopup(popup_a91c68fbcc65497094baf302fae4b4d0)
        ;

        
    
    
            var marker_8cb2e8a3d0264535a946d5bcf8442ed4 = L.marker(
                [33.2505995, -112.6551667],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_7efc55f7058f4f61917e5fe62a76a77a = L.popup({"maxWidth": "100%"});

        
            var html_bde56bc0808146619baa9846472c7608 = $(`<div id="html_bde56bc0808146619baa9846472c7608" style="width: 100.0%; height: 100.0%;">PlayOverwatch</div>`)[0];
            popup_7efc55f7058f4f61917e5fe62a76a77a.setContent(html_bde56bc0808146619baa9846472c7608);
        

        marker_8cb2e8a3d0264535a946d5bcf8442ed4.bindPopup(popup_7efc55f7058f4f61917e5fe62a76a77a)
        ;

        
    
    
            var marker_3c005c3c95e247eea2b664d547f55a4b = L.marker(
                [52.4796992, -1.9026911],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_be8555fd21e242daa4d01dd197f5b1a4 = L.popup({"maxWidth": "100%"});

        
            var html_a6bc5f68667e497595ed6678a532de8f = $(`<div id="html_a6bc5f68667e497595ed6678a532de8f" style="width: 100.0%; height: 100.0%;">Lloyd_Griffiths</div>`)[0];
            popup_be8555fd21e242daa4d01dd197f5b1a4.setContent(html_a6bc5f68667e497595ed6678a532de8f);
        

        marker_3c005c3c95e247eea2b664d547f55a4b.bindPopup(popup_be8555fd21e242daa4d01dd197f5b1a4)
        ;

        
    
    
            var marker_3bc75df397d74920a2875dffd569ead6 = L.marker(
                [46.724362, -75.559685],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_1482d411b8f740348a01867742999b6c = L.popup({"maxWidth": "100%"});

        
            var html_7525159421f044d4956b3417af82a52a = $(`<div id="html_7525159421f044d4956b3417af82a52a" style="width: 100.0%; height: 100.0%;">RayWJ</div>`)[0];
            popup_1482d411b8f740348a01867742999b6c.setContent(html_7525159421f044d4956b3417af82a52a);
        

        marker_3bc75df397d74920a2875dffd569ead6.bindPopup(popup_1482d411b8f740348a01867742999b6c)
        ;

        
    
    
            var marker_a3deea15496547fdac4856a646d9ef6c = L.marker(
                [39.7837304, -100.4458825],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_094d54af65d04b3e9a76b694dc088e52 = L.popup({"maxWidth": "100%"});

        
            var html_88e2f170483f4a6bb1c30332e07e7e57 = $(`<div id="html_88e2f170483f4a6bb1c30332e07e7e57" style="width: 100.0%; height: 100.0%;">Razer</div>`)[0];
            popup_094d54af65d04b3e9a76b694dc088e52.setContent(html_88e2f170483f4a6bb1c30332e07e7e57);
        

        marker_a3deea15496547fdac4856a646d9ef6c.bindPopup(popup_094d54af65d04b3e9a76b694dc088e52)
        ;

        
    
    
            var marker_74063b8bc91249c6850e13bcdb0c067d = L.marker(
                [40.5834557, -74.1496048],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_96ce13946f5744e3b199eedabb640b4a = L.popup({"maxWidth": "100%"});

        
            var html_3a8be38bcbe044ae94fb8e7cd47c6f26 = $(`<div id="html_3a8be38bcbe044ae94fb8e7cd47c6f26" style="width: 100.0%; height: 100.0%;">Fournightsgone</div>`)[0];
            popup_96ce13946f5744e3b199eedabb640b4a.setContent(html_3a8be38bcbe044ae94fb8e7cd47c6f26);
        

        marker_74063b8bc91249c6850e13bcdb0c067d.bindPopup(popup_96ce13946f5744e3b199eedabb640b4a)
        ;

        
    
    
            var marker_258dad3c739b4a619799dec5cafcbd0b = L.marker(
                [47.4223618, -121.4128238],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_ed385a3ec7e94c0d82d3d91c423674c1 = L.popup({"maxWidth": "100%"});

        
            var html_876a46b9883749b4820dcb40cfe767df = $(`<div id="html_876a46b9883749b4820dcb40cfe767df" style="width: 100.0%; height: 100.0%;">Chair2BoardSpor</div>`)[0];
            popup_ed385a3ec7e94c0d82d3d91c423674c1.setContent(html_876a46b9883749b4820dcb40cfe767df);
        

        marker_258dad3c739b4a619799dec5cafcbd0b.bindPopup(popup_ed385a3ec7e94c0d82d3d91c423674c1)
        ;

        
    
    
            var marker_7aa3fccc329643a181cb6cacda848251 = L.marker(
                [38.5156707, -109.6340141],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_17a5e5d522be4d7a8132aa905fec6d9a = L.popup({"maxWidth": "100%"});

        
            var html_cd436eb9e89c4b78834580d140e0cb2c = $(`<div id="html_cd436eb9e89c4b78834580d140e0cb2c" style="width: 100.0%; height: 100.0%;">TravRice</div>`)[0];
            popup_17a5e5d522be4d7a8132aa905fec6d9a.setContent(html_cd436eb9e89c4b78834580d140e0cb2c);
        

        marker_7aa3fccc329643a181cb6cacda848251.bindPopup(popup_17a5e5d522be4d7a8132aa905fec6d9a)
        ;

        
    
    
            var marker_ef330e0c5ad54c2fa1670edbba3b26ff = L.marker(
                [43.653963, -79.387207],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_d6f3f15d885045bc8b408af745d5b32c = L.popup({"maxWidth": "100%"});

        
            var html_9335052ef3be461cb75950ae03a30f6c = $(`<div id="html_9335052ef3be461cb75950ae03a30f6c" style="width: 100.0%; height: 100.0%;">threedaysgrace</div>`)[0];
            popup_d6f3f15d885045bc8b408af745d5b32c.setContent(html_9335052ef3be461cb75950ae03a30f6c);
        

        marker_ef330e0c5ad54c2fa1670edbba3b26ff.bindPopup(popup_d6f3f15d885045bc8b408af745d5b32c)
        ;

        
    
    
            var marker_e926c581a755462597b537c211b4c639 = L.marker(
                [46.9599823, 22.0541733],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_c1a81cee2510411c93ccefd7d5840af0 = L.popup({"maxWidth": "100%"});

        
            var html_385cf55a14e74099abad48ee8b10b17d = $(`<div id="html_385cf55a14e74099abad48ee8b10b17d" style="width: 100.0%; height: 100.0%;">GogolBordello</div>`)[0];
            popup_c1a81cee2510411c93ccefd7d5840af0.setContent(html_385cf55a14e74099abad48ee8b10b17d);
        

        marker_e926c581a755462597b537c211b4c639.bindPopup(popup_c1a81cee2510411c93ccefd7d5840af0)
        ;

        
    
    
            var marker_7d247c2064444463b91443c24fd17548 = L.marker(
                [47.0244707, 28.8322534],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_9e2bcd4cdfdd4e5cb2db2324ceeaf317 = L.popup({"maxWidth": "100%"});

        
            var html_c48c093581994321a48510dda597f3d9 = $(`<div id="html_c48c093581994321a48510dda597f3d9" style="width: 100.0%; height: 100.0%;">zdobsizdub</div>`)[0];
            popup_9e2bcd4cdfdd4e5cb2db2324ceeaf317.setContent(html_c48c093581994321a48510dda597f3d9);
        

        marker_7d247c2064444463b91443c24fd17548.bindPopup(popup_9e2bcd4cdfdd4e5cb2db2324ceeaf317)
        ;

        
    
    
            var marker_6bb0e3780e1a4a9897bdbbec848f50ea = L.marker(
                [36.1672559, -115.1485163],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_7eb64d2f88594b39b1f958d886dc0466 = L.popup({"maxWidth": "100%"});

        
            var html_d840caa8c81d4862a0a53e5d788b3736 = $(`<div id="html_d840caa8c81d4862a0a53e5d788b3736" style="width: 100.0%; height: 100.0%;">JohnDolmayan</div>`)[0];
            popup_7eb64d2f88594b39b1f958d886dc0466.setContent(html_d840caa8c81d4862a0a53e5d788b3736);
        

        marker_6bb0e3780e1a4a9897bdbbec848f50ea.bindPopup(popup_7eb64d2f88594b39b1f958d886dc0466)
        ;

        
    
    
            var marker_7d6b5c1bb93f48c3b087b3e9cfe371e9 = L.marker(
                [39.7837304, -100.4458825],
                {}
            ).addTo(map_dc46ea2b80914a3fbf5bb9203a7dcdf4);
        
    
        var popup_968f4db546b94e2b88e9a7b6000aed60 = L.popup({"maxWidth": "100%"});

        
            var html_1ff85ec7bcc846f1a27ee9cbb6678575 = $(`<div id="html_1ff85ec7bcc846f1a27ee9cbb6678575" style="width: 100.0%; height: 100.0%;">serjtankian</div>`)[0];
            popup_968f4db546b94e2b88e9a7b6000aed60.setContent(html_1ff85ec7bcc846f1a27ee9cbb6678575);
        

        marker_7d6b5c1bb93f48c3b087b3e9cfe371e9.bindPopup(popup_968f4db546b94e2b88e9a7b6000aed60)
        ;

        
    
</script>